<div class="container col-lg-12">
<nav class="navbar navbar" >
    <ul class="nav navbar-nav nav-pills pull-left">
        <li role="presentation">
            <a href="#/home"  style="color:white">Home</a>
        </li>
        <li role="presentation">
            <a href="#/wish"  style="color:white">Make a new wish</a>
        </li>
        <li role="presentation">
            <a href="#/wishes"  style="color:white">View your wishes</a>
        </li>
        
    </ul> 
    <ul class="nav navbar-nav nav-pills pull-right">
        <li role="presentation">
            <a href="#/user"  style="color:white">View profile</a>
        </li>
        
        
        <li role="presentation" ng-controller="LogoutController">
            <a href="" ng-click="logout()"  style="color:white">Logout</a>
        </li>
    </ul>
</nav>
</div>