<div class="container col-lg-12">
<nav class="navbar navbar" style="color:white">
    <ul class="nav navbar-nav nav-pills pull-left">
        <li role="presentation">
            <a href="#/home">Home</a>
        </li>
        <li role="presentation">
            <a href="#/wishes">View your wishes</a>
        </li>
        <li role="presentation">
            <a href="#/wish">Make a new wish</a>
        </li>
    </ul> 
    <ul class="nav navbar-nav nav-pills pull-right">
        <li role="presentation">
            <a href="#/user">View profile</a>
        </li>
        
        <li role="presentation" ng-controller="LogoutController">
            <a href="" ng-click="logout()">Logout</a>
        </li>
    </ul>
</nav>
</div>