<wishlistheader style="color:white"></wishlistheader>

    <h1 class="text-center">SHENRON'S MENU</h1>
    <ul class="list-inline text-center">
        <li>
            <a href="/#/wishes" class="btn" style="color:white;min-height:150px; min-width:150px; padding-top:40px; border-radius:150px;background-color:#e67e22">View Wishlist<br>**<br>**</a>
        </li>
        <li>
            <a href="/#/wish" style="color:white;min-height:150px; min-width:150px; padding-top:40px; border-radius:150px;background-color:#e67e22" class="btn">Add A New Wish<br>**</a>
        </li>
    </ul>
    <br>
    <ul class="list-inline text-center">
        <li>
            <a href="/#/user"  class="btn" style="color:white;min-height:150px; min-width:150px; padding-top:40px; border-radius:150px;background-color:#e67e22">View Your Profile<br>***<br>*****</a>
        </li>
        
    </ul>
