<div class="container v-center" ng-controller="SignUpController" style="width:50%;">
  <h1 class="text-center" style="font-family:Calibri;font-size:50px;margin-left:-30%">Sign Up</h1><br>
  <div ng-form="signUpForm" ng-class="{'has-error':
    (signUpForm.firstname.$invalid && signUpForm.firstname.$dirty) || 
    (signUpForm.lastname.$invalid && signUpForm.lastname.$dirty) ||
    (signUpForm.username.$invalid && signUpForm.username.$dirty) ||
    (signUpForm.email.$invalid && signUpForm.email.$dirty) ||
    (signUpForm.password.$invalid && signUpForm.password.$dirty)}"
    class="text-center row">
    <div class="col-lg-6">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstname" ng-model="firstname" placeholder="Enter your first name" required>
    </div>
    <uib-alert type="danger" ng-if="signUpForm.firstname.$dirty && signUpForm.firstname.$invalid">Please enter your first name</uib-alert>
        <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastname" ng-model="lastname" placeholder="Enter your last name" required>
    </div>
    <uib-alert type="danger" ng-if="signUpForm.lastname.$dirty && signUpForm.lastname.$invalid">Please enter your last name</uib-alert>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="username" placeholder="Enter a username" required>
    </div>
    <uib-alert type="danger" ng-if="signUpForm.username.$dirty && signUpForm.username.$invalid">Please enter a username</uib-alert>
    
    
       
      <label>Email</label>
      <input type="email" class="form-control" name="email" ng-model="email" placeholder="Enter an email" required>
   
     <uib-alert type="danger" ng-if="signUpForm.email.$dirty && signUpForm.email.$invalid">Please enter an email</uib-alert>
        <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ng-model="password" placeholder="Enter a password" required>
    </div>
    <uib-alert type="danger" ng-if="signUpForm.password.$dirty && signUpForm.password.$invalid">Please enter a password</uib-alert>
    </div>
    <br>
    <div class="col-lg-12 text-center">
      
      <div class="col-lg-6 pull-left">
        <a href="#/" class="btn" style="width:200px;height:50px;background-color:#2ecc71;color:white;line-height:50px;font-size:20px">Go Back</a>
      </div>
      <div class="col-lg-6 pull-right">
      <button type="submit" class="btn" ng-click="signUp()" style="width:200px;height:50px;background-color:#2ecc71;color:white;line-height:50px;font-size:20px">Sign Up</button>
    </div>
    </div>
    
   
  </div>
  <br>
  <br>
</div>